.body {
	min-height: 100vh;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

.container-header {
	display: flex;
	background-color: #F6F2F2;
}

/* css for header  */
.header {
	display: flex;
	box-sizing: border-box;
	max-width: 1249px;
	width: 100%;
	min-height: 89px;
	background-color: #000000;
	justify-content: center;
	margin: 0 auto;
	margin-top: 29px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
}

.menu {
	display: flex;
	text-decoration: none;
	color: #E0E0E0;
	text-align: center;
	padding: 35px;
	font-size: 14px;
	letter-spacing: 0.49px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0px;
}

.menu:hover {
	background-color: #FF3F40;
}

/* css for maim */
.main {
	/* box-sizing: border-box; */
	/* display: flex; */
	flex-grow: 1;
	/* margin: 0; */

}

.main-div {
	background-color: #F6F2F2;
}

.in-section {
	/* display: flex; */
	position: relative;
	bottom: 12px;
	max-width: 617px;
	/* min-height: 117px; */
	margin-bottom: 20px;
	margin-right: 75px;
}

.main-section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 107px;
	padding-bottom: 94px;
	justify-content: space-between;
	/* display: inline-block; */
	/* flex-wrap: wrap; */
	/* margin-top: 115px; */
	/* position: relative; */
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
}

/* .main-section2 {
	display: inline-block;
} */

.h1-class {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 6.5px;
	text-transform: uppercase;
	/* margin-top: 115px; */
	/* max-width: 618px; */
	/* max-height: 117px; */
	margin: 0;
	padding-bottom: 14px;
}

.text {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	font-size: 15.9953px;
	text-align: justify;
	max-width: 544.85px;
	min-height: 72px;
	/* max-height: 73px; */
	margin: 0;
	line-height: 28px;
	margin-bottom: 54px;
}


.img-color2 {
	display: flex;
	flex-wrap: wrap;
	background-color: #FF2D2D;
	max-width: 554px;
	min-height: 359px;
	/* margin-top: 115px; */
	/* align-items: end; */
	box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.button {
	font-family: 'Open Sans', sans-serif;
	width: 227px;
	height: 55px;
	background-color: #FF2D2D;
	font-size: 18.0412px;
	line-height: 34px;
	border: none;
	letter-spacing: 0.3195px;
	color: #FFFFFF;
	border-radius: 6px;
	padding: 0px;
	box-sizing: border-box;
	display: inline-block;
}

/* section part 2 */

.set-h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 42.1902px;
	letter-spacing: 0.422159px;
	text-transform: uppercase;
	color: #000000;
	position: relative;
	bottom: 5px;
	margin-bottom: 28px;
}

.text2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
	margin: 0;
	margin-bottom: 45px;
}

.button2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 227px;
	height: 55px;
	background-color: rgba(0, 0, 0, 0.0001);
	font-size: 18.0412px;
	line-height: 34px;
	border: 2px solid #FF2D2D;
	border-radius: 4px;
	letter-spacing: 0.3195px;
	color: #FF2D2D;
	padding: 0px;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 10px;
}

.set-h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24.0692px;
	letter-spacing: 0.271838px;
	color: #000000;
	margin: 0;
	font-weight: 600;
	margin-bottom: 11px;
	/* padding-right: 10px; */
}

.set-h3::before {
	display: block;
	width: 41px;
	height: 41px;
	margin-bottom: 20px;
}

.set-h3-pic::before {
	content: url(../img/Combined\ shape\ 15719.png);
}

.set-h3-ui::before {
	content: url(../img/Combined\ shape\ 15722.png);
}

.set-h3-logo::before {
	content: url(../img/Combined\ shape\ 15729.png);
}

.set-h3-anime::before {
	content: url(../img/Combined\ shape\ 15734.png);
}

.text3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	margin: 0;
	/* margin-right: 20px; */
}

.service {
	display: flex;
	padding-top: 60px;
	padding-bottom: 58px;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	border-bottom: 2px solid #ECECEC;
	max-width: 1249px;
}

.part1 {
	flex: 1 1 502px;
	max-width: 502px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.part2 {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1;
	max-width: 610px;
	margin-top: 45px;
}

.section__part {
	flex: 1 1 300px;
	max-width: 300px;
	margin-bottom: 46px;
}

/* Feature product */
.feature__product {
	padding-top: 53px;
	padding-bottom: 9px;
}

.feature__product-info {
	width: 100%;
	margin-bottom: 16px;
	text-align: center;
}

.feature__product-heading {
	font-family: 'Open Sans', sans-serif;
	font-size: 41.9876px;
	text-transform: uppercase;
	letter-spacing: 0.3834px;
	padding-left: 14px;
	margin-bottom: 16px;
}

.feature__product-text {
	font-size: 15.9953px;
	line-height: 28px;
	max-width: 536px;
	/* align-items: center; */
	margin: 0 auto;
}

.feature__product-line {
	width: 134px;
	height: 3px;
	background: #FF2D2D;
	margin-bottom: 86px;
	/* margin-top: 10px; */

}

.feature__tab {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: center;
	margin-bottom: 56px;
}

.feature__product-activ {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	position: relative;
	margin-right: 50px;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.22px;
	text-decoration: none;
	/* left: 40px; */
}

.activ-items {
	color: #FF2D2D;
}

.feature__product-activ:hover {
	color: #FF2D2D;
}

.product-item {
	flex: 1 1 24%;
	max-width: 301px;
	height: 293px;
	margin-bottom: 18px;
	object-fit: cover;
}

.feature__product-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

/* Style Team member */
.team__member {
	padding-bottom: 15px;
	padding-top: 55px;
}

.team__member-block {
	margin-bottom: 60px;
	width: 100%;
	text-align: left;
}

.team__member-heading {
	font-family: 'Open Sans', sans-serif;
	font-size: 41.9876px;
	text-transform: uppercase;
	letter-spacing: 0.3834px;
	/* padding-left: 14px; */
	margin-bottom: 16px;
}

.team__member-text {
	margin: 0;
	max-width: 478px;
	line-height: 28px;
	margin-bottom: 33px;
}

.team__member-line {
	margin-left: 0;
	margin-bottom: 7px;
}

.team__member-block1 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch;
	min-height: 465px;
	margin-bottom: 90px;
}

.team__member-photo {
	flex-shrink: 0;
	max-width: 404px;
	max-height: 460px;
	margin-right: 83px;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	align-self: start;
}

.team__member-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.team__member-info {
	display: flex;
	flex-direction: column;
	max-width: 662px;
	position: relative;
	align-self: start;
	justify-content: space-between;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-top: -22px;
}

.team__member-text2 {
	margin: 0;
	margin-bottom: 40px;
}

.team__member-name {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 30.127px;
	letter-spacing: 0.275265px;
	text-transform: uppercase;
	bottom: 6px;
	margin-bottom: 16px;
}

.social__media {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	letter-spacing: -0.1px;
	margin-right: 28px;
}

.social__media:hover {
	text-decoration: underline;
	color: #0000ff
}

.team__member-block2 {
	position: relative;
	margin-top: 18px;
	display: flex;
	/* align-items: flex-end; */
	flex-wrap: wrap;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.team__member2 {
	position: relative;
	/* margin-right: 18px; */
	display: flex;
	align-items: flex-end;
}

.photo {
	/* display: flex; */
	margin-right: 18px;
}

.name__member {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	visibility: hidden;
	color: #FFFFFF;
	bottom: 0;
	height: 42px;
	margin: 0;
	text-align: center;
	background-color: #000000;
	text-transform: uppercase;
	font-style: italic;
	opacity: 0.5;
	/* margin-left: 5px; */
}

.photo:hover>.name__member {
	visibility: visible;
}

.photo2 {
	display: flex;
	height: 220.08px;
	max-width: 207.3px;
}

/* Subscribe */

.subscribe__section {
	display: block;
	box-sizing: border-box;
	width: 100%;
	/* flex-wrap: wrap; */
	padding-top: 159px;
	padding-bottom: 135px;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 100%;
	/* margin: 0 auto; */
	background-color: #2D2D2D;
	/* max-height: 520px; */
	margin-bottom: 45px;
}

.subscribe__block {
	max-width: 1249px;
	margin: 0 auto;
	text-align: center;
}

.subscribe__header {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 24px;
	letter-spacing: 1.05px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.subscribe__text {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15.9953px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 56px;
}

.subscribe__form {
	display: flex;
	flex-wrap: wrap;
	/* align-items: baseline; */
	justify-content: center;
}

.subscribe__input {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 524px;
	color: #161414;
	/* align-items: center; */
	min-height: 72px;
	padding: 0;
	/* padding-right: 22px; */
	padding-left: 42px;
	border: none;
	background-color: #FFFFFF;
	/* margin-bottom: 16px; */
	border-radius: 3px;
	max-width: 524px;
	height: 82px;
	/* margin-right: 19px; */
	box-sizing: border-box;
	margin-left: -7px;
}

.subscribe__button {
	display: inline-block;
	width: 217px;
	height: 82px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	padding: 0;
	font-weight: 700;
	font-size: 17.9026px;
	line-height: 34px;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
	background-color: #FF2D2D;
	border-radius: 4px;
	margin-left: 19px;
	color: #FFFFFF;
	box-sizing: border-box;
	border: none;
}

/* contact block */

.contact__block {
	display: flex;
	/* flex-wrap: wrap; */
	max-width: 1249px;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 50px;
}

.contact__block-left {
	margin-top: 41px;
}

.contact__form {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 41.9876px;
	line-height: 0px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 57px;
}

.contact__block-form {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0;
}

.contact__text {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15.9953px;
	line-height: 28px;
	max-width: 752.85px;
	height: 73px;
	color: #000000;
	margin-bottom: 62px;
}

.contact__line {
	margin-bottom: 45px;
}

.contact__form2 {
	box-sizing: border-box;
	background-color: #e5e5e5;
	width: 339px;
	height: 69px;
	border-radius: 10px;
	margin-right: 48px;
	margin-bottom: 30px;
	padding-left: 20px;
	border: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15.9134px;
	line-height: 28px;
}

.contact__form4 {
	box-sizing: border-box;
	background-color: #e5e5e5;
	width: 339px;
	height: 69px;
	border-radius: 10px;
	padding-left: 20px;
	border: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15.9134px;
	line-height: 28px;
}

.contact__form6 {
	box-sizing: border-box;
	/* width: 100%; */
	width: 734px;
	height: 252px;
	box-sizing: border-box;
	background-color: #e5e5e5;
	border-radius: 10px;
	margin: 0;
	border: none;
	resize: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15.9134px;
	line-height: 28px;
	padding-left: 20px;
	padding-top: 20px;
	color: #000000;
	margin-bottom: 38px;
}

.contact__button {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 17.9026px;
	line-height: 34px;
	width: 731px;
	height: 75px;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
	background: #FF3B3B;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	/* margin-bottom: 50px; */
}

/* contact right */
.contact__blocl-right {
	box-sizing: border-box;
	width: 580px;
	height: 485px;
	background-color: #2D2D2D;
	color: #FFFFFF;
}

.prime {
	/* margin-left: 50px; */
	margin-right: 0;
	padding-right: 0;
	max-width: 580px;
	max-height: 485px;
}

.contact__form1 {
	box-sizing: border-box;
	/* display: block; */
	/* margin: 0; */
	/* padding: 0; */
	max-width: 735px;
	/* margin-right: 50px; */
}